@using HNFCRM_Chat.Models;
@model Criterion

<head>
    <title>Chăm Sóc Khách Hàng</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- Datetime Picker CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.vi.min.js" integrity="sha256-TnMvef6AxT9fg6mNrTsZCgPDkU4g5EyB+tu66oLAI4U=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <!-- Google Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <!-- custom CSS & Jquery modify URL -->
    <link rel="stylesheet" href="~/Content/HNFStyle.css">
    <script src="~/Scripts/HNF-jquery.js"></script>
</head>

<div id="page-content-wrapper">
    <div class="page-content">
        <form action="@Url.Action("CustomerCareDetail","CustomerCare")" method="post">


            <div class="container-fluid">
                <br>
                <div class="row">
                    <!-- ĐÁNH GIÁ VỀ SẢN PHẨM -->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0 mb-lg-0">
                        <div class="card form-input-margin">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2"><h4>ĐÁNH GIÁ VỀ SẢN PHẨM</h4></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Vải</td>
                                        <td>
                                            <select class="custom-select" name="fabric">
                                                @{
                                                    if (Model.Fabric != 0)
                                                    {
                                                        <option selected>@Model.Fabric</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mẫu Áo</td>
                                        <td>
                                            <select class="custom-select" name="shirtstyle">
                                                @{
                                                    if (Model.ShirtStyle != 0)
                                                    {
                                                        <option selected>@Model.ShirtStyle</option>
                                                    }
                                                    else
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Quy Cách May</td>
                                        <td>
                                            <select class="custom-select" name="requireproduct">
                                                @{
                                                    if (Model.RequireProduct != 0)
                                                    {
                                                        <option selected>@Model.RequireProduct</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Chất lượng hình in/thêu</td>
                                        <td>
                                            <select class="custom-select" name="printembroider">
                                                @{
                                                    if (Model.PrintAndEmbroider != 0)
                                                    {
                                                        <option selected>@Model.PrintAndEmbroider</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Độ Bền</td>
                                        <td>
                                            <select class="custom-select" name="durability">
                                                @{
                                                    if (Model.Durability != 0)
                                                    {
                                                        <option selected>@Model.Durability</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- ĐÁNH GIÁ VỀ DỊCH VỤ -->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0 mb-lg-0">
                        <div class="card form-input-margin">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2"><h4>ĐÁNH GIÁ VỀ DỊCH VỤ</h4></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Gía Cả</td>
                                        <td>
                                            <select class="custom-select" name="price">
                                                @{
                                                    if (Model.Price != 0)
                                                    {
                                                        <option selected>@Model.Price</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hổ Trợ</td>
                                        <td>
                                            <select class="custom-select" name="support">
                                                @{
                                                    if (Model.Support != 0)
                                                    {
                                                        <option selected>@Model.Support</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dịch Vụ Bảo Hành</td>
                                        <td>
                                            <select class="custom-select" name="maintanace">
                                                @{
                                                    if (Model.Maintenance != 0)
                                                    {
                                                        <option selected>@Model.Maintenance</option>
                                                    }
                                                    else
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- ĐÁNH GIÁ VỀ NHÂN VIÊN -->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2"><h4>ĐÁNH GIÁ VỀ NHÂN VIÊN</h4></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Thái Độ Tư Vấn</td>
                                        <td>
                                            <select class="custom-select" name="attitude">
                                                @{
                                                    if (Model.Attitude != 0)
                                                    {
                                                        <option selected>@Model.Attitude</option>
                                                    }
                                                    else
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                    <button type="submit" class="btn btn-success btn-block" id="DetailDesign-Add-Button" role="button" href="@Url.Action("CustomerCareDetail","CustomerCare")">Lưu Thông Tin</a>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 ">
                                    <a class="btn btn-danger btn-block" id="Cancle-Button" role="button" href="#">Huỷ Thông Tin</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>