@model HNFCRM_Chat.Models.CustomerCareModel
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <br>
            <!-- Thanh chức năng -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card form-input-margin">
                        <form action="@Url.Action("Search","CustomerCare")" method="post">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0">
                                    <div class="row">
                                        <!-- Search Bar -->

                                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="search" placeholder="Tìm Kiếm...">
                                            </div>
                                        </div>
                                        <!-- Search Button -->
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <button type="submit" class="btn btn-block btn-warning search-button" href="@Url.Action("Search","CustomerCare")">
                                                    Tìm Kiếm<i class="material-icons md-18">search</i>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Thanh tìm kiếm -->

                    </div>


                </div>
            </div>
            <br>
            <!-- Bảng Khách Hàng (thông tin được lấy từ trang khách hàng, trên này chỉ thể hiện lại) -->
            <div class="row">
                <div class="col-12">
                    <table class="table table-sm table-hover">
                        <thead class="thead">
                            <tr>
                                <th>HỌ VÀ TÊN</th>
                                <th>CÔNG TY</th>
                                <th>ĐIỆN THOẠI</th>
                                <th>TỔNG ĐIỂM</th>
                                <th>XẾP LOẠI</th>
                                <th>MÃ HỢP ĐỒNG</th>
                                <th>TÊN SALE</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{if (Model.customer != null)
                                {
                                    foreach (var item in Model.customer)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Company</td>
                                            <td>@item.Phone</td>
                                            @{ var customercare = Model.customercare.Where(x => x.ID_Customer == item.ID).SingleOrDefault();
                                                var customercaredetail = Model.customercaredetail.Where(x => x.ID_CustomerCare == customercare.ID).SingleOrDefault();
                                            }
                                            @{ if (customercaredetail.Point != 0)
                                                {
                                                    <td>@customercaredetail.Point</td>
                                                }
                                                else
                                                {
                                                    <td>Chưa đánh giá</td>
                                                }
                                            }
                                            @{if (customercaredetail.Point < 30)
                                                {
                                                    <td>Kém</td>
                                                }
                                                else if (customercaredetail.Point < 60 && customercaredetail.Point > 30)
                                                {
                                                    <td>Trung Bình</td>
                                                }
                                                else if (customercaredetail.Point > 60 && customercaredetail.Point < 90)
                                                {
                                                    <td>Khá</td>
                                                }
                                                else if (customercaredetail.Point > 90)
                                                {
                                                    <td>Rất Tốt</td>
                                                }
                                                else
                                                {
                                                    <td>Chưa đánh giá</td>
                                                }
                                            }
                                            @{var contract = Model.contract.Where(x => x.ID_Customer == item.ID).SingleOrDefault(); }
                                            <td>@contract.ID</td>
                                            @{ var staff = Model.staff.Where(x => x.ID == contract.ID_Staff).FirstOrDefault();}
                                            <td>@staff.Name</td>
                                            <td><a href="@Url.Action("CustomerCareDetail", "CustomerCare", new { id = item.ID })"><button type="button" class="btn btn-sm btn-info">i</button></a></td>
                                        </tr>
                                                    }
                                                }
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div style="margin:0 auto; color: black">
                            @Html.PagedListPager(Model.customer, page => Url.Action("CustomerCare", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>