@using HNFCRM_Chat.Models;
@model Criterion


<div id="page-content-wrapper">
    <div class="page-content">
        <form action="@Url.Action("CustomerCareDetail","CustomerCare")" method="post">


            <div class="container-fluid">
                <br>
                <div class="row">
                    <!-- ĐÁNH GIÁ VỀ SẢN PHẨM -->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0 mb-lg-0">
                        <div class="card form-input-margin">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2"><h4>ĐÁNH GIÁ VỀ SẢN PHẨM</h4></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Vải</td>
                                        <td>
                                            <select class="custom-select" name="fabric">
                                                @{
                                                    if (Model.Fabric != 0)
                                                    {
                                                        <option selected>@Model.Fabric</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mẫu Áo</td>
                                        <td>
                                            <select class="custom-select" name="shirtstyle">
                                                @{
                                                    if (Model.ShirtStyle != 0)
                                                    {
                                                        <option selected>@Model.ShirtStyle</option>
                                                    }
                                                    else
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Quy Cách May</td>
                                        <td>
                                            <select class="custom-select" name="requireproduct">
                                                @{
                                                    if (Model.RequireProduct != 0)
                                                    {
                                                        <option selected>@Model.RequireProduct</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Chất lượng hình in/thêu</td>
                                        <td>
                                            <select class="custom-select" name="printembroider">
                                                @{
                                                    if (Model.PrintAndEmbroider != 0)
                                                    {
                                                        <option selected>@Model.PrintAndEmbroider</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Độ Bền</td>
                                        <td>
                                            <select class="custom-select" name="durability">
                                                @{
                                                    if (Model.Durability != 0)
                                                    {
                                                        <option selected>@Model.Durability</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- ĐÁNH GIÁ VỀ DỊCH VỤ -->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0 mb-lg-0">
                        <div class="card form-input-margin">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2"><h4>ĐÁNH GIÁ VỀ DỊCH VỤ</h4></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Gía Cả</td>
                                        <td>
                                            <select class="custom-select" name="price">
                                                @{
                                                    if (Model.Price != 0)
                                                    {
                                                        <option selected>@Model.Price</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hổ Trợ</td>
                                        <td>
                                            <select class="custom-select" name="support">
                                                @{
                                                    if (Model.Support != 0)
                                                    {
                                                        <option selected>@Model.Support</option>
                                                    }
                                                    else 
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dịch Vụ Bảo Hành</td>
                                        <td>
                                            <select class="custom-select" name="maintanace">
                                                @{
                                                    if (Model.Maintenance != 0)
                                                    {
                                                        <option selected>@Model.Maintenance</option>
                                                    }
                                                    else
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- ĐÁNH GIÁ VỀ NHÂN VIÊN -->
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2"><h4>ĐÁNH GIÁ VỀ SẢN PHẨM</h4></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Thái Độ Tư Vấn</td>
                                        <td>
                                            <select class="custom-select" name="attitude">
                                                @{
                                                    if (Model.Attitude != 0)
                                                    {
                                                        <option selected>@Model.Attitude</option>
                                                    }
                                                    else
                                                    {
                                                        <option selected>Điểm Đánh Giá</option>
                                                    }
                                                }
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                                    <button type="submit" class="btn btn-success btn-block" id="DetailDesign-Add-Button" role="button" href="@Url.Action("CustomerCareDetail","CustomerCare")">Lưu Thông Tin</a>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 ">
                                    <a class="btn btn-danger btn-block" id="Cancle-Button" role="button" href="#">Huỷ Thông Tin</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>