@using HNFCRM_Chat.Models;
@model CustomerModel

<link rel="stylesheet" href="~/Content/HNFStyle.css">
<script src="~/Scripts/HNF-jquery.js"></script>
<!--===== PAGE CONTENT =====-->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <br>
            <form action="@Url.Action("CustomerDetail","Customer")" method="post" id="@Model.Customer.ID">


                @*@using (Html.BeginForm("CustomerDetail", "Customer", FormMethod.Post, new { id = Model.Customer.ID }))
                    {*@
                <!-- Thông Tin Khách Hàng & Thông Tin Sản Phẩm -->
                <div class="row">
                    <!-- Thông Tin Khách Hàng -->
                    <div class="alertArea">
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <h3>THÔNG TIN KHÁCH HÀNG</h3>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <!-- Họ Tên -->
                                    <div class="form-group ">
                                        <label>Họ Tên <span class="Notice">*</span></label>
                                        <input type="text" class="form-control" name="name" value="@Model.Customer.Name" aria-describedby="Customer Name" placeholder="" required id="txt-CName">
                                    </div>
                                    <!-- Số Điện Thoại -->
                                    <div class="form-group">
                                        <label>Số Điện Thoại <span class="Notice">*</span></label>
                                        <input type="tel" class="form-control " name="phone" value="@Model.Customer.Phone" aria-describedby="Phone Number" placeholder="" required id="txt-CPhone">
                                    </div>
                                    <!-- Email -->
                                    <div class="form-group">
                                        <label>Email <span class="Notice">*</span></label>
                                        <input type="email" class="form-control" name="email" value="@Model.Customer.Email" aria-describedby="Email" placeholder="" required
                                               id="txt-CEmail">
                                    </div>
                                    <!-- Thông Tin Công Ty -->
                                    <div class="form-group">
                                        <label>Thông Tin Công Ty</label>
                                        <input type="text" class="form-control" name="company" value="@Model.Customer.Company" aria-describedby="Company" placeholder="">
                                    </div>
                                    <!-- Ngành Nghề -->
                                    <div class="form-group">
                                        <label>Ngành Nghề</label>
                                        <input type="text" class="form-control" name="job" value="@Model.Customer.Job" aria-describedby="Customer Job" placeholder="">
                                    </div>
                                    <!-- Địa Chỉ -->
                                    <div class="form-group">
                                        <label>Địa Chỉ <span class="Notice">*</span></label>
                                        <input type="text" class="form-control txtCustomerDetail" name="address" value="@Model.Customer.Address" aria-describedby="Customer Address" placeholder="" required>
                                    </div>
                                    <!-- Tình Trạng Tư Vấn -->
                                    <div class="form-group">
                                        <label>Tình Trạng Tư Vấn</label>
                                        <select class="form-control" name="consult" required>
                                            @{if (Model.Customer.ID_Consult.Value == 1)
                                                {
                                                    <option value="1" selected>Gọi Điện Thoại</option>
                                                    <option value="2">Gửi Email</option>
                                                    <option value="3">Gặp Mặt</option>
                                                    <option value="4">Gửi Mẫu</option>
                                                }
                                                else if (Model.Customer.ID_Consult.Value == 2)
                                                {
                                                    <option value="1">Gọi Điện Thoại</option>
                                                    <option value="2" selected>Gửi Email</option>
                                                    <option value="3">Gặp Mặt</option>
                                                    <option value="4">Gửi Mẫu</option>
                                                }
                                                else if (Model.Customer.ID_Consult.Value == 3)
                                                {
                                                    <option value="1">Gọi Điện Thoại</option>
                                                    <option value="2">Gửi Email</option>
                                                    <option value="3" selected>Gặp Mặt</option>
                                                    <option value="4">Gửi Mẫu</option>
                                                }
                                                else
                                                {
                                                    <option value="1">Gọi Điện Thoại</option>
                                                    <option value="2">Gửi Email</option>
                                                    <option value="3">Gặp Mặt</option>
                                                    <option value="4" selected>Gửi Mẫu</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <!-- Quan tâm về Dịch Vụ / Sản Phẩm gì -->
                                    <div class="form-group">
                                        <label for="exampleTextarea">Quan tâm về Dịch Vụ / Sản Phẩm gì?</label>
                                        <textarea class="form-control" name="InterestedIn" rows="5">@Model.Customer.CareAboutProduct</textarea>
                                    </div>
                                    <!-- Loại Áo Đã Làm -->
                                    <div class="form-group">
                                        <label>Loại Áo Đã Làm</label>
                                        <input type="text" class="form-control" value="@Model.Customer.PreviousDesign" name="previousdesign" aria-describedby="Shirt That Customer had done before" placeholder="">
                                    </div>
                                    <!-- Loại Vải -->
                                    <div class="form-group">
                                        <label>Loại Vải</label>
                                        <input type="text" class="form-control" value="@Model.Customer.PreviousFabric" name="previousfabric" aria-describedby="Shirt material" placeholder="">
                                    </div>
                                    <!-- Giá Thành -->
                                    <div class="form-group">
                                        <label>Giá Thành</label>
                                        <input type="number" class="form-control" id="txt-CPrice" value="@Model.Customer.PreviousPrice" name="previousprice" aria-describedby="shirt price range" placeholder="">
                                    </div>
                                    <!-- Nhận Xét -->
                                    <div class="form-group">
                                        <label>Nhận Xét</label>
                                        <input type="text" class="form-control" value="@Model.Customer.Comment" name="previouscomment" aria-describedby="comment" placeholder="">
                                    </div>
                                    <!-- Công Ty Đã Thực Hiện -->
                                    <div class="form-group">
                                        <label>Công Ty Đã Thực Hiện</label>
                                        <input type="text" class="form-control" value="@Model.Customer.PreviousCompanyDesign" name="previouscompany" aria-describedby="Company that produce Customer's shirt" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <!-- Ghi Chú -->
                            <div class="form-group">
                                <label>Ghi Chú</label>
                                <textarea class="form-control" rows="3" value="@Model.Customer.Note" name="customernote">@Model.Customer.Note></textarea>
                            </div>
                            <span class="Notice"> <small class="font-italic">* : Trường Bắt Buộc</small></span>
                        </div>
                    </div>
                    <!-- Thông Tin Sản Phẩm -->
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <h3>THÔNG TIN SẢN PHẨM</h3>
                            <!-- Loại Áo -->
                            <div class="form-group">
                                <label>Loại Áo</label>
                                <input type="text" class="form-control" value="@Model.RequireProduct.ShirtType" name="shirttype" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <!-- Loại Vải -->
                            <div class="form-group">
                                <label>Loại Vải</label>
                                <input type="text" class="form-control" value="@Model.RequireProduct.RequireFabric" name="requirefabric" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <!-- Mục Đích Sử Dụng -->
                            <div class="form-group">
                                <label>Mục Đích Sử Dụng</label>
                                <input type="text" class="form-control" value="@Model.RequireProduct.Purpose" name="purpose" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <!-- Đã Có Thiết Kế Chưa ? -->
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="exampleSelect1">Đã Có Thiết Kế Chưa ?</label>
                                        <select class="form-control" name="isanydesign" )>
                                            @{ if (Model.RequireProduct.AnyDesignYet == true)
                                                {
                                                    <option>Rồi</option>
                                                }
                                                else
                                                {
                                                    <option>Chưa</option>
                                                }
                                                if (Model.RequireProduct.AnyDesignYet == true)
                                                {
                                                    <option>Chưa</option>
                                                }
                                                else
                                                {
                                                    <option>Rồi</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label for="exampleSelect1">Màu Sắc</label>
                                        <select class="form-control" Name="Color">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- In / Thêu ? -->
                            <div class="form-group">
                                <label>In / Thêu ?</label>
                                <input type="text" class="form-control" value="@Model.RequireProduct.PrintAndEmbroider" name="printembroider" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <!-- Số Lượng & Tầm Giá-->
                            <div class="row">
                                <!-- Số Lượng -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Số Lượng</label>
                                        <input type="number" class="form-control" value="@Model.RequireProduct.Quantity" name="quantity" aria-describedby="emailHelp" placeholder="" id="txt-CQuantity">
                                    </div>
                                </div>
                                <!-- Tầm Giá -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Tầm Giá</label>
                                        <input type="number" class="form-control" value="@Model.RequireProduct.Price" name="price" aria-describedby="emailHelp" placeholder="" id="txt-CPriceRange">
                                    </div>
                                </div>
                            </div>
                            <!-- Ghi Chú -->
                            <div class="form-group">
                                <label for="exampleTextarea">Ghi Chú</label>
                                <textarea class="form-control" rows="3" name="requirenote" value="@Model.RequireProduct.Note">@Model.RequireProduct.Note></textarea>
                            </div>

                            <!-- Nút lưu thông tin -->
                            <button type="submit" id="CustomerInfoSaveBtn" class="btn btn-primary btn-lg btn-block mt-4" href="@Url.Action("CustomerDetail","Customer")">Lưu Thông Tin</button>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <!-- Nút chức năng -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-input-background">
                        <div class="row">
                            <div class="offset-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0 mb-lg-0">
                                <a class="btn btn-success w-100" href="@Url.Action("Contract", "Contract", new { id =Model.Customer.ID })" role="button">Hợp Đồng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
