@model HNFCRM_Chat.Models.CustomerModel
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<head>
    <title>HNF-Customer</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- Datetime Picker CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.vi.min.js" integrity="sha256-TnMvef6AxT9fg6mNrTsZCgPDkU4g5EyB+tu66oLAI4U=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <!-- Google Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <!-- custom CSS & Jquery modify URL -->
    <link rel="stylesheet" href="~/Content/HNFStyle.css">
    <script src="~/Scripts/HNF-jquery.js"></script>
</head>

<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <br>
            <!-- Thanh Chức Năng -->
            <div class="row">
                <!-- Nút Chức Năng -->
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card form-input-margin">
                        <div class="btn-group" role="group" aria-label="Function Button">
                            <button type="button" class="btn btn-success w-100" onclick="location.href='@Url.Action("AddCustomer","Customer")'">Thêm Khách Hàng</button>
                        </div>
                    </div>
                </div>
                <!-- Thanh Lọc -->
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card form-input-margin">
                        @using (Html.BeginForm("SearchCustomer", "Customer", FormMethod.Post))
                        {
                            <div class="row">
                                <!-- Họ Tên -->
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0">
                                    <input id="HNF-input" type="text" name="SearchName" placeholder="Tên">
                                </div>
                                <!-- Số Điện Thoại -->
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0">
                                    <input id="HNF-input" type="text" name="SearchPhone" placeholder="Số Điện Thoại">
                                </div>
                                <!-- Email -->
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0">
                                    <input id="HNF-input" type="text" name="SearchCompany" placeholder="Công Ty">
                                </div>
                                <!-- Nút Tìm Kiếm -->
                                <div class="col-xl-3 col-lg-2 col-md-12 col-sm-12 col-xs-12 mb-2 mb-xl-0">
                                    <button type="submit" class="btn btn-block btn-warning search-button" onclick="location.href='@Url.Action("SearchCustomer", "Customer")'">Tìm Kiếm</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <br>
            <!-- Thanh Nhân Viên -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center w-100">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            @{foreach (var item in Model.liststaff)
                                {
                                    <li class="page-item "><a class="page-link" href="@Url.Action("SearchCustomerByStaff","Customer", new { id=item.ID})">@item.Name</a></li>

                                }
                            }
                            <li class="page-item ">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <br>
            <!-- Bản Khách Hàng -->
            <div class="row">
                <div class="col-12">
                    <table class="table table-sm table-hover">
                        <thead class="thead">
                            <tr>
                                <th>
                                    Xóa
                                </th>
                                <th>HỌ VÀ TÊN</th>
                                <th>CÔNG TY</th>
                                <th>EMAIL</th>
                                <th>ĐIỆN THOẠI</th>
                                <th>TƯ VẤN</th>
                                <th>GỌI NHẮC</th>
                                <th>TÊN SALE</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{if (Model.customer != null)
                                {
                                    foreach (var item in Model.customer)
                                    {
                                        <tr class="">
                                            <th scope="row">
                                                <a type="button" style="color:black" aria-label="Checkbox for following text input" onclick="return confirm('Chắc chắn xóa?')" href='@Url.Action("DeleteCustomer", "Customer", new
                                                                                                                                                            {
                                                                                                                                                                id = item
.ID
                                                                                                                                                            })'>x</a>
                                            </th>
                                            <td>@item.Name</td>
                                            <td>@item.Company</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            @{ if (item.ID_Consult.Value == 1)
                                                {
                                                    <td>Gọi Điện Thoại</td>
                                                }
                                                else if (item.ID_Consult.Value == 2)
                                                {
                                                    <td>Gửi Email</td>
                                                }
                                                else if (item.ID_Consult.Value == 3)
                                                {
                                                    <td>Gặp Mặt</td>
                                                }
                                                else
                                                {
                                                    <td>Gửi Mẫu</td>
                                                }
                                            }

                                            @{var contract = Model.contract.Where(x => x.ID_Customer == item.ID).SingleOrDefault();}
                                            @{if (contract != null)
                                                {
                                                    if (int.Parse(contract.Remind) == 0)
                                                    {
                                                        <td>Lần 1</td>
                                                    }
                                                    else if (int.Parse(contract.Remind) == 1)
                                                    {
                                                        <td>Lần 2</td>
                                                    }
                                                    else if (int.Parse(contract.Remind) == 2)
                                                    {
                                                        <td>Lần 3</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Chưa Gọi</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>Chưa có thông tin</td>
                                                }
                                            }
                                            @{if (contract.ID_Staff != null)
                                                {
                                                    var staff = Model.staff.Where(x => x.ID == contract.ID_Staff).FirstOrDefault();
                                                    if (staff != null)
                                                    {
                                                        <td>@staff.Name</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Chưa có thông tin</td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td>Chưa có thông tin</td>
                                                }
                                            }
                                            <td><a href="@Url.Action("CustomerDetail", "Customer", new { id = item.ID })"><button type="button" class="btn btn-sm btn-info">i</button></a></td>
                                        </tr>
                                                    }
                                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div style="margin:0 auto; color: black">
                    @Html.PagedListPager(Model.customer, page => Url.Action("SearchCustomerByStaff", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function ($) {
        var url = window.location.href;
        var activePage = url;
        $('.sidebar-nav a').each(function () {
            var linkPage = this.href;
            if (activePage == linkPage) {
                $(this).closest("li").addClass("sidebar-active");
            }
        });
    });
</script>