@using HNFCRM_Chat.Models
@model ProductionLineModel

<link rel="stylesheet" href="~/Content/HNFStyle.css">

<head>
    <title>HNF-Productline</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- Datetime Picker CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.vi.min.js" integrity="sha256-TnMvef6AxT9fg6mNrTsZCgPDkU4g5EyB+tu66oLAI4U=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <!-- Google Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <!-- custom CSS & Jquery modify URL -->
    <link rel="stylesheet" href="~/Content/HNFStyle.css">
    <script src="~/Scripts/HNF-jquery.js"></script>
</head>

<div id="page-content-wrapper">
    <div class="page-content">
        <br>
        <div class="container-fluid">
            <!-- Thanh Thông Tin Hợp Đồng -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card-group">
                        <!-- download -->
                        <div class="card">
                            <div class="card-block text-center align-items-center d-flex">
                                <a href="@Url.Action("DownLoad","ProductionLine",new { id = Model.Productline.ID })" role="button" class="btn btn-block btn-warning">Tải Hợp Đồng</a>
                            </div>
                        </div>
                        <!-- Mã Hợp Đồng -->
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-subtitle mb-1 text-muted">Mã Hợp Đồng</h6>
                                <h4 class="card-title">@Model.Contract.ID</h4>
                            </div>
                        </div>
                        <!-- Khách Hàng -->
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-subtitle mb-1 text-muted">Khách Hàng</h6>
                                <h4 class="card-title">@Model.Customer.Name</h4>
                            </div>
                        </div>
                        <!-- Ngày Duyệt Mẫu -->
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-subtitle mb-1 text-muted">Ngày Duyệt Mẫu</h6>
                                <h4 class="card-title">@Model.Contract.CreatedDate.Value.ToString("dd/MM/yyyy")</h4>
                            </div>
                        </div>
                        <!-- Ngày Giao Hàng -->
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-subtitle mb-1 text-muted">Ngày Giao Hàng</h6>
                                <h4 class="card-title">@Model.Contract.EndDate.Value.ToString("dd/MM/yyyy")</h4>
                            </div>
                        </div>
                        <!-- Nhân Viên Bán Hàng -->
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-subtitle mb-1 text-muted">Nhân Viên Bán Hàng</h6>
                                <h4 class="card-title">@Model.Contract.STAFF.Name</h4>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <!-- Hình Market Đã đồng ý -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sx-12">
                    <div class="card form-input-margin">
                        @{ string image = Model.Contract.MarketPicture.Substring(Model.Contract.MarketPicture.LastIndexOf("\\") + 1);
                        }
                        <img src="~/Images/@image" class="img-fluid" alt="Responsive image" />
                    </div>
                </div>
            </div>
            <br>
            <!-- tên khu vực -->
            <div class="d-flex justify-content-center">
                <h2>Chi Tiết Sản Xuất</h2>
            </div>
            <br>
            <!-- Thong Tin Co Ban & Quy Cach May -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-title">Số Lượng</h6>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" value="@Model.Contractdetail.Quantity" placeholder="" aria-describedby="basic-addon1" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-title">Màu Áo</h6>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="" value="@Model.Contractdetail.ShirtColor" aria-describedby="basic-addon1" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-title">Bo Tay, Bo Cổ</h6>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="" value="@Model.Contractdetail.CollarArmAdjustment" aria-describedby="basic-addon1" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-title">Phối</h6>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="" value="@Model.Contractdetail.ProductDesign" aria-describedby="basic-addon1" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-title">Loại Vải</h6>
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="" value="@Model.Contractdetail.FabricateStyle" aria-describedby="basic-addon1" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                <div class="card-block">
                                    <h6 class="card-title">Quy Cách May</h6>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input " type="checkbox" value="@Model.Contractdetail.SideCut" @(Model.Contractdetail.SideCut.Value ? "checked=\"checked\"" : "") disabled>
                                            Xẻ Tà
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="@Model.Contractdetail.ArmBorder" @(Model.Contractdetail.ArmBorder.Value ? "checked=\"checked\"" : "") disabled>
                                            Viền Nách
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="@Model.Contractdetail.ArmpitBorder" @(Model.Contractdetail.ArmpitBorder.Value ? "checked=\"checked\"" : "") disabled>
                                            Viền Tay
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-xs-12">
                                <div class="card-block">
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Ghi Chú" disabled>@Model.Contractdetail.Note</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- Size Áo -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <!-- bảng size áo -->
                                <div class="col-xl-9 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>S</th>
                                                <th>M</th>
                                                <th>L</th>
                                                <th>XL</th>
                                                <th>XXL</th>
                                                <th>XXXL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Nam</th>
                                                <td>
                                                    <h4>@Model.Mensize.S</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Mensize.M</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Mensize.L</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Mensize.XL</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Mensize.XXL</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Mensize.XXXL</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Mensize.XXXL</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Nữ</th>
                                                <td>
                                                    <h4>@Model.Womensize.S</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Womensize.M</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Womensize.L</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Womensize.XL</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Womensize.XXL</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Womensize.XXXL</h4>
                                                </td>
                                                <td>
                                                    <h4>@Model.Mensize.XXXL</h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- ghi chú -->
                                <div class="col-xl-3 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="form-control" id="exampleTextarea" rows="8" placeholder="Ghi Chú size áo" disabled>@Model.Contractdetail.NoteSize</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <!-- In & Thêu -->
            <div class="row">
                <!-- In -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">In</h3>
                            <div class="row">
                                <!-- cột bên trái -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="sr-only" for="inlineFormInputGroup">date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ngày Thực Hiện (dd/mm/yyyy)" value="20/01/2016" disabled>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inputExample" aria-describedby="basic-addon3" placeholder="Đơn vị thực hiện" value="@Model.Contractdetail.PrintMakingUnit" disabled>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inputExample" aria-describedby="basic-addon3" placeholder="Vị Trí" value="@Model.Contractdetail.PrintSpot" disabled>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inputExample" aria-describedby="basic-addon3" placeholder="Kích thức chi tiết" value="@Model.Contractdetail.PrintSize" disabled>
                                    </div>
                                    <br>
                                </div>
                                <!-- cột bên phải -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="sr-only" for="inlineFormInputGroup">date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ngày Hoàn Thành (dd/mm/yyyy)" value="20/01/2016" disabled>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleTextarea" rows="7" placeholder="Ghi Chú" disabled>@Model.Contractdetail.PrintNote</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Theu -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Thêu</h3>
                            <div class="row">
                                <!-- cot trái -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="sr-only" for="inlineFormInputGroup">date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ngày Thực Hiện (dd/mm/yyyy)" value="31/01/2017" disabled>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inputExample" aria-describedby="basic-addon3" placeholder="Đơn vị thực hiện" value="@Model.Contractdetail.EmbroiderMakingUnit" disabled>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inputExample" aria-describedby="basic-addon3" placeholder="Vị Trí" value="@Model.Contractdetail.EmbroiderSpot" disabled>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inputExample" aria-describedby="basic-addon3" placeholder="Kích thức chi tiết" value="@Model.Contractdetail.EmbroiderSize" disabled>
                                    </div>
                                    <br>
                                </div>
                                <!-- cot phải -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="sr-only" for="inlineFormInputGroup">date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ngày Hoàn Thành (dd/mm/yyyy)" value="31/01/2017" disabled>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleTextarea" rows="7" placeholder="Ghi Chú" disabled>@Model.Contractdetail.EmbroiderNote</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <form method="post" action="@Url.Action("ProductionLineDetail", "ProductionLine")">
                <!-- tên khu vực -->
                <div class="d-flex justify-content-center">
                    <h2>Tiến Độ Sản Xuất</h2>
                </div>
                <br>
                <!-- Production Line -->
                <div class="row">
                    <div class="col-xl-12 col-lg12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card card-warning text-center">
                            <div class="card-block">
                                <div class="row">
                                    <!-- Quy Trình Cắt Vải -->
                                    <div class="col-xl-2 col-lg2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="progress hnf-progress-bg">
                                            <div class="progress-bar progress-bar-striped hnf-bg-production-bar" id="progress1" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <!-- <label class="form-check-label form-control-lg">
                                              <input type="checkbox" class="form-check-input">
                                            </label> -->
                                            <br>
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" id="check1" class="custom-control-input" name="cut" autocomplete="off" value="@Model.Productline.Cut" @(Model.Productline.Cut.Value ? "checked=\"checked\"" : "")>
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                            <h6>Quy Trình Cắt Vải</h6>
                                        </div>
                                    </div>
                                    <!-- Quy Trình In/Thêu -->
                                    <div class="col-xl-2 col-lg2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="progress hnf-progress-bg">
                                            <div class="progress-bar progress-bar-striped hnf-bg-production-bar" role="progressbar" id="progress2" style="width: 00%" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-check">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" id="check2" class="custom-control-input" name="embroider" autocomplete="off" value="@Model.Productline.Embroider" @(Model.Productline.Embroider.Value ? "checked=\"checked\"" : "") disabled>
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                            <h6>Quy Trình In/Thêu</h6>
                                        </div>
                                    </div>
                                    <!-- Quy Trình May -->
                                    <div class="col-xl-2 col-lg2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="progress hnf-progress-bg">
                                            <div class="progress-bar progress-bar-striped hnf-bg-production-bar" role="progressbar" id="progress3" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-check">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" id="check3" class="custom-control-input" name="sew" autocomplete="off" value="@Model.Productline.Sew" @(Model.Productline.Sew.Value ? "checked=\"checked\"" : "") disabled>
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                            <h6>Quy Trình May</h6>
                                        </div>
                                    </div>
                                    <!-- Quy Trình Ủi -->
                                    <div class="col-xl-2 col-lg2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="progress hnf-progress-bg">
                                            <div class="progress-bar progress-bar-striped hnf-bg-production-bar" role="progressbar" id="progress4" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-check">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" id="check4" class="custom-control-input" name="iron" autocomplete="off" value="@Model.Productline.Iron" @(Model.Productline.Iron.Value ? "checked=\"checked\"" : "") disabled>
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                            <h6>Quy Trình Ủi</h6>
                                        </div>
                                    </div>
                                    <!-- Quy Trình Đóng Gói -->
                                    <div class="col-xl-2 col-lg2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="progress hnf-progress-bg">
                                            <div class="progress-bar progress-bar-striped hnf-bg-production-bar" role="progressbar" id="progress5" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-check">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" id="check5" class="custom-control-input" name="packaging" autocomplete="off" value="@Model.Productline.Packaging" @(Model.Productline.Packaging.Value ? "checked=\"checked\"" : "") disabled>
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                            <h6>Quy Trình Đóng Gói</h6>
                                        </div>
                                    </div>
                                    <!-- Quy Trình Giao Hàng -->
                                    <div class="col-xl-2 col-lg2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="progress hnf-progress-bg">
                                            <div class="progress-bar progress-bar-striped hnf-bg-production-bar" role="progressbar" id="progress6" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-check">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" id="check6" class="custom-control-input" name="delivery" autocomplete="off" value="@Model.Productline.Delivery" @(Model.Productline.Delivery.Value ? "checked=\"checked\"" : "") disabled>
                                                <span class="custom-control-indicator"></span>
                                            </label>
                                            <h6>Quy Trình Giao Hàng</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Buttons -->
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                        <button class="btn btn-success btn-block" role="button" type="submit" href="@Url.Action("ProductionLineDetail","ProductionLine")">Lưu Thông Tin</button>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 ">
                        <a class="btn btn-danger btn-block" role="button" href="#">Huỷ Thông Tin</a>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
