<link rel="stylesheet" href="~/Content/HNFStyle.css">
@using HNFCRM_Chat.Models
@model STAFF

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Staff</title>
</head>
<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <br>
            @using (Html.BeginForm("EditStaff", "Staff", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card form-input-margin">
                            <div class="row">

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-sx-4">
                                    <h5>Thông Tin Nhân Viên</h5>
                                    <br>
                                    <div class="col-xl-12">
                                        <div class="avatarwrapper">
                                            <div class="avatar">
                                                <img src="./image/avatar2.jpg" alt="..." class="img-fluid rounded-circle center-cropped mx-auto d-block ">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-xl-12">
                                        <div class="avatarbutton">
                                            <button type="button" name="button" class="btn btn-primary">Đổi Ảnh Đại Diện</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-sx-8">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label for="InputName">Họ Tên</label>
                                                <input type="text" name="name" class="form-control" id="InputName" aria-describedby="emailHelp" value="@Model.Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="InputPhone">Số Điện Thoại</label>
                                                <input type="text" name="phone" class="form-control" id="InputPhone" aria-describedby="emailHelp" value="@Model.Phone">
                                            </div>
                                            @if (TempData["EditStaff"] != null)
                { <p style="color:red">@TempData["EditStaff"]</p>
                                            }
                                            <div class="form-group">
                                                <label for="InputEmail">Email</label>
                                                <input name="email" type="text" class="form-control" id="InputEmail" aria-describedby="emailHelp" value="@Model.Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="InputAuthorize">Phân Quyền</label>
                                                <select class="form-control" id="InputAuthorize" name="role" @Html.DropDownList("Information", @Model.ROLE.Role1)></select>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="form-group">
                                                <label for="InputID">Tài Khoản</label>
                                                <input type="text" class="form-control" id="InputID" aria-describedby="emailHelp" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="InputPassword">Mật Khẩu</label>
                                                <input type="password" name="password" class="form-control" id="InputPassword" aria-describedby="emailHelp" value="@Model.Password">
                                            </div>
                                            <div class="form-group">
                                                <label for="InputPasswordConfirm">Nhập Lại Mật Khẩu</label>
                                                <input type="password" class="form-control" id="InputPasswordConfirm" aria-describedby="emailHelp" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <br>
                                                <div class="btn-group w-100" role="group">
                                                    <button type="submit" href='@Url.Action("EditStaff", "Staff")' class="btn btn-success w-100">Lưu</button>
                                                    <a href='@Url.Action("Staff", "Staff")' class="btn btn-danger w-100">Huỷ</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>