@using HNFCRM_Chat.Models;
@model ContractModel

<link rel="stylesheet" href="~/Content/HNFStyle.css">
<head>
    <title>Quản Lý Hợp Đồng</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- Datetime Picker CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.vi.min.js" integrity="sha256-TnMvef6AxT9fg6mNrTsZCgPDkU4g5EyB+tu66oLAI4U=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <!-- Google Icon CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <!-- custom CSS & Jquery modify URL -->
    <link rel="stylesheet" href="~/Content/HNFStyle.css">
    <script src="~/Scripts/HNF-jquery.js"></script>
</head>

<!--===== PAGE CONTENT =====-->
<form method="post" action="@Url.Action("Contract", "Contract")" enctype="multipart/form-data">
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <br>
                <!-- 1 Panels -->
                <div class="row">
                    <!-- Panel 1 -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-subtitle mb-1 text-muted">Mã Hợp Đồng</h6>
                                <h4 class="card-title">@Model.Contract.ID</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Panel 2 -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-subtitle mb-1 text-muted">Khách Hàng</h6>
                                <h4 class="card-title">@Model.Customer.Name</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Panel 3 -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-subtitle mb-1 text-muted">Ngày Tạo Hợp Đồng</h6>
                                <h4 class="card-title">@Model.Contract.CreatedDate.Value.ToString("dd/MM/yyyy")</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Panel 4 -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-block">
                                <h6 class="card-subtitle mb-1 text-muted">Người Tạo Hợp Đồng</h6>
                                <h4 class="card-title">@Model.Staff.Name</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 2 Thời Gian -->
                <div class="row">
                    <!-- Cột Trái-->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Thời Gian" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Cột Phải-->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <!-- Ngày Tư Vấn & Ngày Hẹn Gặp 2 cái này daterange mặc định ngày hẹn gặp không thể trước ngày tư vấn, 2 ngày có thể trùng nhau  -->
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-xl-0 mb-lg-0 mb-2 ">
                                    <!-- datetime picker -->
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-xl-0 mb-lg-0 mb-2">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">Ngày Tư Vấn</span>
                                                <input type="text" class="form-control" placeholder="dd/mm/yyyy" name="consultdate" value="@Model.Contract.DateConsult.Value.ToString("dd/MM/yyyy")" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-xl-0 mb-lg-0 mb-2">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">Ngày Hẹn Gặp</span>
                                                <input type="text" class="form-control" placeholder="dd/mm/yyyy" name="appointment" value="@Model.Contract.Appointment.Value.ToString("dd/MM/yyyy")" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        @{if (TempData["message"] != null)
                                            {
                                                <p style="color: red">@TempData["message"]</p>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- Ghi Chú -->
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-lg-0 mb-xl-0">

                                    <textarea class="form-control" id="exampleTextarea" rows="1" placeholder="Ghi Chú" value="@Model.Contract.Note" name="note">@Model.Contract.Note</textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- 3 Thiết kế và gởi Market -->
                <div class="row">
                    <!-- Cột Trái -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Thiết kế và gởi Market" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Cột Phải -->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <!-- Upload -->
                                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 mb-xs-2 mb-xl-0 mb-lg-0 mb-2">
                                    <div class="mb-2 mb-sm-0">
                                        <div class="input-group">
                                            <input type="file" id="file1" name="uploadmarket" onchange="$('#txtMarketName').val($(this).val());" hidden>
                                            <label for="file1" class="btn btn-info btn-block">
                                                <i class="material-icons md-18 search-button" style="margin:0;padding:0;">cloud_upload</i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Download -->
                                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 mb-xs-2 mb-xl-0 mb-lg-0 mb-2">
                                    <div class="input-group">
                                        @{if (Model.Contract.SendMarket == "123456")
                                            {
                                                <button type="button" name="button" class="btn btn-success btn-block" disabled><i class="material-icons md-18 search-button" style="margin:0;padding:0;">cloud_download</i></button>
                                            }
                                            else
                                            {
                                                <button type="button" name="button" onclick="location.href='@Url.Action("DownloadMarket","Contract",new {id=Model.Customer.ID })'" class="btn btn-success btn-block"><i class="material-icons md-18 search-button" style="margin:0;padding:0;">cloud_download</i></button>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- File Name -->
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 mb-xs-2 mb-xl-0 mb-lg-0 mb-2 ">
                                    <div class="input-group mb-2 mb-sm-0">
                                        @{if (Model.Contract.SendMarket == "123456")
                                            {
                                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tên File Áo Mẫu Đã Duyệt" value="Chưa có mẫu áo" readonly>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tên File Áo Mẫu Đã Duyệt" value="@Model.Contract.SendMarket.Substring(@Model.Contract.SendMarket.LastIndexOf("\\")+1)" readonly>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 mb-xs-2 mb-xl-0 mb-lg-0 mb-2">
                                    <div class="input-group mb-0 mr-sm-2 mb-sm-0">
                                        <a href="@Url.Action("ContractDetail", "Contract", new { id = Model.Contract.ID })" role="button" class="btn btn-primary btn-block">Chi Tiết Thiết Kế</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 4 Báo Giá -->
                <div class="row">
                    <!-- Cột Trái -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Báo Giá Sản Phẩm" placeholder="Báo Giá" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Cột Phải -->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <!-- Upload -->
                                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 mb-xl-0 mb-lg-0 mb-2">
                                    <div class="input-group">
                                        <input type="file" id="file2" name="uploadprice" onchange="$('#txtQuotation').val($(this).val());" hidden>
                                        <label for="file2" class="btn btn-info btn-block">
                                            <i class="material-icons md-18 search-button" style="margin:0;padding:0;">cloud_upload</i>
                                        </label>
                                    </div>
                                </div>
                                <!-- Download -->
                                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 mb-xl-0 mb-lg-0 mb-2">
                                    <div class="input-group">
                                        @{if (Model.Contract.Price == "123456")
                                            {
                                                <button type="button" name="button" class="btn btn-success btn-block" disabled><i class="material-icons md-18 search-button" style="margin:0;padding:0;">cloud_download</i></button>
                                            }
                                            else
                                            {
                                                <button type="button" name="button" onclick="location.href='@Url.Action("DownloadPrice","Contract",new {id=Model.Customer.ID })'" class="btn btn-success btn-block"><i class="material-icons md-18 search-button" style="margin:0;padding:0;">cloud_download</i></button>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- file name -->
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                    <div class="input-group">
                                        @{if (Model.Contract.Price == "123456")
                                            {
                                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tên File Áo Mẫu Đã Duyệt" value="Chưa có bảng báo giá" readonly>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tên File Áo Mẫu Đã Duyệt" value="@Model.Contract.Price.Substring(@Model.Contract.Price.LastIndexOf("\\") + 1)" readonly>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 5 Hẹn Gặp -->
                <div class="row">
                    <!-- Cột Trái -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Hẹn Gặp" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Cột Phải -->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-xl-0 mb-lg-0 mb-2">
                                    <div id="sandbox-container">
                                        <div class="input-group date">
                                            <span class="input-group-addon" id="basic-addon1">Ngày Hẹn Gặp</span>
                                            <input type="text" class="form-control" placeholder="Ngày Hẹn Gặp" name="appointment2" value="@Model.Contract.AppointmentMarket.Value.ToString("dd/MM/yyyy")"></span>
                                            @{if (TempData["message2"] != null)
                                                {
                                                    <p style="color: red">@TempData["message"]</p>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-xl-0 mb-lg-0 mb-20">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="checkbox" aria-label="Checkbox for following text input" name="confirm" value="1" @(Model.Contract.CheckConfirm.Value ? "checked=\"checked\"" : "")>
                                        </span>
                                        <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Khách Hàng Đồng Ý Mẫu Thiết Kế" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 6 Áo Mẫu Đã Duyệt -->
                <div class="row">
                    <!-- Cột Trái -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="input-group">

                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Áo Mẫu Đã Duyệt" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Cột Phải -->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                    <div class="input-group">
                                        <input type="file" id="file3" name="uploadimages" onchange="$('#txtConShirt').val($(this).val());" hidden>
                                        <label for="file3" class="btn btn-info btn-block">
                                            <i class="material-icons md-18 search-button" style="margin:0;padding:0;">cloud_upload</i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                    <div class="input-group ">
                                        @{if (Model.Contract.MarketPicture == "123456")
                                            {
                                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tên File Áo Mẫu Đã Duyệt" value="Chưa có áo mẫu đã duyệt" readonly>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Tên File Áo Mẫu Đã Duyệt" value="@Model.Contract.MarketPicture.Substring(@Model.Contract.MarketPicture.LastIndexOf("\\") + 1)" readonly>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 7 Hợp Đồng -->
                <div class="row">
                    <!-- Cột Trái -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Hợp Đồng" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Cột Phải -->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-xl-0 mb-lg-0 mb-2">
                                    <div class="input-group">
                                        <input type="file" id="file4" name="uploadcontract" onchange="$('#txtContract').val($(this).val());" hidden>
                                        <label for="file4" class="btn btn-info btn-block">
                                            <i class="material-icons md-18 search-button" style="margin:0;padding:0;">cloud_upload</i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 0">
                                    <div class="input-group mb-2 mb-sm-0">
                                        @{if (Model.Contract.Contract1 == "123456")
                                            {
                                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Hợp Đồng" value="Chưa có hợp đồng" readonly>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Hợp Đồng" value="@Model.Contract.Contract1.Substring(@Model.Contract.Contract1.LastIndexOf("\\") + 1)" readonly>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 8 Sản Xuất -->
                <div class="row">
                    <!-- Cột Trái -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Sản Xuất" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Cột Phải -->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <!-- Ngày Bắt Đầu & Ngày kết Thúc 2 cái này daterange mặc định Ngày kết Thúc không thể trước Ngày Bắt Đầu, 2 ngày có trùng nhau-->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-xl-0 mb-lg-0 mb-2">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">Ngày Bắt Đầu</span>
                                        <input type="text" class="form-control" placeholder="dd/mm/yyyy" name="start" value="@Model.Contract.StartDate.Value.ToString("dd/MM/yyyy")" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">Ngày Kết Thúc</span>
                                        <input type="text" class="form-control" placeholder="dd/mm/yyyy" name="end" value="@Model.Contract.EndDate.Value.ToString("dd/MM/yyyy")" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                                @{if (TempData["message1"] != null)
                                    {
                                        <p style="color: red">@TempData["message1"]</p>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 9 Chuyển Tiền -->
                <div class="row">
                    <!-- Cột Trái -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Chuyển Tiền" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Cột Phải -->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                    <label class="custom-control custom-radio">
                                        <input id="customer-money-tranfer0" name="tranfer-money-radio" type="radio" class="custom-control-input" value="0" @(int.Parse(Model.Contract.MoneyTransfer) == 0 ? "checked" : "")>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Chưa Chuyển</span>
                                    </label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                    <label class="custom-control custom-radio mb-3">
                                        <input id="customer-money-tranfer30" name="tranfer-money-radio" type="radio" class="custom-control-input" value="1" @(int.Parse(Model.Contract.MoneyTransfer) == 1 ? "checked" : "")>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">30% Số Tiền</span>
                                    </label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                    <label class="custom-control custom-radio">
                                        <input id="customer-money-tranfer50" name="tranfer-money-radio" type="radio" class="custom-control-input" value="2" @(int.Parse(Model.Contract.MoneyTransfer) == 2 ? "checked" : "")>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">50% Số Tiền</span>
                                    </label>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 ">

                                    <label class="custom-control custom-radio">
                                        <input id="customer-money-tranfer100" name="tranfer-money-radio" type="radio" class="custom-control-input" value="3" @(int.Parse(Model.Contract.MoneyTransfer) == 3 ? "checked" : "")>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">100% Số Tiền</span>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 10 Gọi Nhắc -->
                <div class="row">
                    <!-- Cột Trái -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="input-group">

                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Gọi Nhắc" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Cột Phải -->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <div class="row">
                                        <!-- Chưa Gọi -->
                                        <div class="col-xl-3">
                                            <label class="custom-control custom-radio">
                                                <input id="customer-call0-radio" name="customer-call-radio" type="radio" class="custom-control-input" value="0" @(int.Parse(Model.Contract.Remind) == 0 ? "checked" : "")>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Chưa Gọi</span>
                                            </label>
                                        </div>
                                        <!-- Gọi Nhắc lần 1 -->
                                        <div class="col-xl-3">
                                            <label class="custom-control custom-radio">
                                                <input id="customer-call1-radio" name="customer-call-radio" type="radio" class="custom-control-input" value="1" @(int.Parse(Model.Contract.Remind) == 1 ? "checked" : "")>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Gọi Nhắc lần 1</span>
                                            </label>
                                        </div>
                                        <!-- Gọi Nhắc lần 2 -->
                                        <div class="col-xl-3">
                                            <label class="custom-control custom-radio">
                                                <input id="customer-call2-radio" name="customer-call-radio" type="radio" class="custom-control-input" value="2" @(int.Parse(Model.Contract.Remind) == 2 ? "checked" : "")>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Gọi Nhắc lần 2</span>
                                            </label>
                                        </div>
                                        <!-- Gọi Nhắc lần 3 -->
                                        <div class="col-xl-3">
                                            <label class="custom-control custom-radio">
                                                <input id="customer-call3-radio" name="customer-call-radio" type="radio" class="custom-control-input" value="3" @(int.Parse(Model.Contract.Remind) == 3 ? "checked" : "")>
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Gọi Nhắc lần 3</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 11 Trạng Thái -->
                <div class="row">
                    <!-- Cột Trái -->
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Trạng Thái" readonly>
                            </div>
                        </div>
                    </div>
                    <!-- Cột Phải -->
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="card form-input-margin">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-xs-2 mb-sm-2 mb-md-0 mb-lg-0 mb-lg-0">
                                    <div class="btn-group w-100" data-toggle="buttons">
                                        <label class="btn btn-outline-primary w-100 @(int.Parse(Model.Contract.StatusContract) == 1 ? "active" : "")">
                                            <input type="radio" name="options" id="option1" autocomplete="off" value="1"> Đã Kí
                                        </label>
                                        <label class="btn btn-outline-warning w-100 @(int.Parse(Model.Contract.StatusContract) == 0 ? "active" : "")">
                                            <input type="radio" name="options" id="option2" autocomplete="off" value="0"> Đang Chờ Phản Hồi
                                        </label>
                                        <label class="btn btn-outline-danger w-100 @(int.Parse(Model.Contract.StatusContract) == 2 ? "active" : "")">
                                            <input type="radio" name="options" id="option3" autocomplete="off" value="2"> Thất Bại
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 12 Buttons -->
                <div class="row">
                    <!-- Cột Trái -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
                        <button type="submit" class="btn btn-success btn-block" role="button" href="@Url.Action("Contract","Contract")">Lưu Thông Tin</button>
                        @{
                            var message1 = TempData["AlertMessage"] ?? string.Empty;
                        }
                    </div>
                    <!-- Cột Phải -->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 ">
                        <button class="btn btn-danger btn-block" role="button" onclick="history.go(-1); return false">Huỷ Thông Tin</button>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />

<script type="text/javascript" charset="utf-8">
    var message = '@message1';
    if (message != "")
        alert("Cập Nhật Thành Công !!!");
</script>

